@import "../styles/variables.scss";
@import "../styles/mixins.scss";

// modules
@import "../styles/search_wrapper.scss";
@import "../styles/form.scss";
@import "../styles/table.scss";
@import "../styles/preview.scss";
@import "../styles/loader.scss";

// component container 
.component-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0.5rem;
    &--motDetails {
      position: relative;
    }
  }