@import "../styles/variables.scss";

@mixin default-button($color) {
  border: 1px solid $color;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-weight: bold;
  padding: 0.7rem 1.6rem;
  text-align: center;
  color: $color;
  font-family: $font-family;
  cursor: pointer;
  transition: transform 0.4s ease-in-out, background 0.4s ease-in-out, color 0.4s ease-in-out;

  &:hover {
    background: $color;
    color: $white;
  }

  &:active {
    background: darken($color, 10%);
  }
}

@mixin default-button-primary($color) {
  border: 1px solid $color;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color;
  font-weight: bold;
  padding: 0.7rem 1.6rem;
  text-align: center;
  color: $white;
  font-family: $font-family;
  cursor: pointer;
  transition: color 0.4s ease-in-out;

  &:active {
    background: darken($color, 10%);
  }
}
