@keyframes moveYe {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-3px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  .single-customer,
  .single-employee,
  .single-motDetails,
  .single-service,
  .single-transaction,
  .single-testDrive {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    &__title--address {
        margin-top: 2.5rem;
    }
  
    &__paragraph {
      margin: 1rem 0 0;
      position: relative;
      strong {
        display: inline-block;
      }
      &--info {
        text-align: right;
      }
    }
    &__strong {
      margin: 2rem 0;
      font-size: 1.1rem;
    }
    &--box {
      padding: 1rem;
      box-shadow: $default-shadow;
      background: $white;
    }
    &__button {
      @include default-button($navy-blue);
      margin: 0 0 1.5rem 0;
      &:hover > svg {
        animation: moveYe 0.8s infinite;
      }
    }
  }

  .cubic-centimeters--preview {
    position: absolute;
    top: -4px;
    left: 118px;
    font-size: 0.7rem;
  }

  .buttons-wrapper {
    display: flex;
  }

  .icon {
    width: 15px;
    height: 15px;
    margin-left: 0.5rem;
  }
  .icon-arrow {
    width: 15px;
    height: 15px;
    margin-right: 0.5rem;
    animation: moveYe 0.8s;
  }
  .my-button {
    margin-top: 0.5rem;
  }
  .my-button + .my-button {
    margin-left: 0.5rem;
  }
  .edit {
    @include default-button($dark-blue);
  }
  .delete {
    @include default-button($dark-red);
  }

  // preview add
  .main-container--add {
    position: relative;
    width: 100%;
    max-width: 950px;
    padding: 0 1rem 1rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    &__title {
      margin: 0 0 4rem 0;
      flex-basis: 100%;
      text-align: center;
    }
  
    &__arrow {
      position: absolute;
      top: -20px;
      left: -50px;
      border: none;
      padding: 0.8rem;
      background: $navy-blue;
      border-radius: 25px;
      color: $white;
      box-shadow: $default-shadow;
      cursor: pointer;
      transition: box-shadow 0.4s ease-in-out;
  
      &:hover {
        box-shadow: $default-shadow-hover;
      }
  
      svg {
        margin: 0;
        font-size: 1.1rem;
      }
  
      @media only screen and(max-width: 1100px) {
        top: -70px;
        left: 15px;
      }
    }
  }

  .motDetails {
    top: -60px;
    left: -60px;
    @media only screen and(max-width: 1100px) {
      top: -70px;
      left: 5px;
    }
  }

  // preview edit
  .main-container--edit {
    width: 100%;
    max-width: 950px;
    padding: 0 1rem 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      margin: 0 0 4rem 0;
      flex-basis: 100%;
      text-align: center;
    }
    @media only screen and(max-width: 490px) {
      align-items: flex-start;
    }
  }

  .join {
    @include default-button-primary($dark-green);
   }

   .single-customer__button,
   .single-employee__button,
   .single-motorcycle__button,
   .single-motorcycleDetails__button,
   .single-transaction__button,
   .single-service__button,
   .single-testDrive__button {
    @include default-button($navy-blue);
    justify-content: flex-start;
    margin: 1rem 17rem 2rem 0;
    &:hover > svg {
            animation: moveYe .8s infinite;
        }
  }