.searchWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 4rem;
    padding: 1rem;
    border: 1px solid $navy-blue;
  
    &__inputs {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
  
      p {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        label {
            width: 100%;
            text-align: left;
            color: $navy-blue;
          }
      }
    }
  
    &__inputs input {
      font-family: "Avenir", Helvetica, Arial, sans-serif;
      font-size: 1rem;
      color: $navy-blue;
      order: 1;
      margin-top: 0.5rem;
      padding: 0.3rem;
      border: none;
      background: none;
      text-align: left;
      border-bottom: 1px solid $navy-blue;

      &:focus {
        outline: none;
        border-bottom-color: darken($navy-blue, 90%);
      }
      
      &:focus ~ label {
        color: darken($navy-blue, 90%);
      }
    }
  
    &__buttons {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      padding: 0.5rem;
  
      &--clear {
        @include default-button($navy-blue);
      }
    }
  }
  