@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext");

// colors
$dark-red: rgba(255, 0, 0, 0.582);
$dark-blue: rgba(27, 27, 206, 0.767);
$dark-green: rgba(67, 148, 67, 0.829);
$dark-orange: rgba(247, 172, 5, 0.95);
$dark-grey: rgba(107, 101, 101, 0.8);
$navy-blue: #324960f5;
$white: #ffffff;

$bg-color: $white;
$dot-color: $navy-blue;
$dot-size: 1px;
$dot-space: 30px;

$font-family: "Open Sans", sans-serif;

$default-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
$default-shadow-hover: 0px 2px 8px rgba(0, 0, 0, 0.4);
