@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext");

// colors
$dark-red: rgba(255, 0, 0, 0.582);
$dark-blue: rgba(27, 27, 206, 0.767);
$dark-green: rgba(67, 148, 67, 0.829);
$bright-green: #86BBA3;
$dark-orange: rgba(240, 187, 74, 0.95);
$dark-grey: rgba(107, 101, 101, 0.856);
$darken-grey: #8e8b8b36;
$light-grey: #f5f5f5;
$navy-blue: #324960f5;
$deep-blue: #2c3e508e;
$white:#ffffff;
$black:#000000;
$bright-black:#000000f5;
$light-black:#00000060;
$lighten-black:#00000020;
$orange: #FF8310;
$bright-red:#dc6868;
$lazur:#427C8F;

$bg-color: $white;
$dot-color: $navy-blue;
$dot-size: 1px;
$dot-space: 30px;

$font-family: "Open Sans", sans-serif;

$default-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
$default-shadow-hover: 0px 2px 8px rgba(0, 0, 0, 0.5);
$default-shadow-grow: 0px 2px 8px rgba(0, 0, 0, 0.7);
